<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taobao.nbcache"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
    <application
        android:allowBackup="true"> 
        <service android:exported="false" android:name="com.yoson.cache.NBCacheService"> 
            <intent-filter>
                <action android:name="com.taobao.nbcache.IMultiNBCacheService"/>
            </intent-filter>
        </service>
        
         <receiver android:name="com.yoson.cache.CacheRebootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
